.idea/
/datasets
/custom test data
/project_env
/server/datas
/server/.ipynb_checkpoints
/server/__pycache__
/server/test/datas
/server/saved-models/model-v4-with-adam-optimizer.h5
.ipynb_checkpoints
*.resaved.jpg
